/**
* @author Madeline
* @name Create server fix
* @description Fixes the Create Server Modal's colors because discord will never fix it.
*/

/* Fixes the blinding white of the create server modal. */
.container__0d1a7 {
   background: rgb(44, 46, 50);
   --header-secondary: rgb(240, 241, 243);
   --text-normal: rgb(240, 241, 243);
   --header-primary: rgb(240, 241, 243);
   --background-primary: rgb(32, 32, 34);
   --modal-footer-background: rgb(44, 46, 50);
   --text-muted: rgb(240, 241, 243);
}
.contents_fb6220 {
    color: rgb(240, 241, 243);
}
