/**
* @author madelinemaid
* @name File Blur
* @description Forcefully blurs all media until you hover over them. (Customize with --file-blur in QCSS!)
*/
:root {
    --file-blur: 44px;
    --file-blur-gif: 11px;
}
[class^='imageWrapper'] img {
    filter: blur(var(--file-blur));
    transition: ease 0.45s;}
[class^='imageWrapper']:hover img {
    filter: blur(0px);
}
[class^='embedWrapper'] img {
    filter: blur(var(--file-blur));
    transition: 0.45s ease;
}
[class^='embedWrapper']:hover img {
    filter: blur(0px);
}
[data-type="sticker"] {
    filter: blur(var(--file-blur));
    transition: 0.45s ease
}
[data-type="sticker"]:hover {
    filter: blur(0px);
}
[class^='video_'] {
    filter: blur(var(--file-blur));
    transition: 0.45s ease;
}
[class^='video_']:hover {
    filter: blur(0px);
}
[class^='gif_bad'] {
    filter: blur(var(--file-blur-gif));
    transition: 0.45s ease;
}
[class^='gif_bad']:hover {
    filter: blur(0px);
}
[class^='imageWrapper']:has([class^='originalLink']) {
    filter: blur(var(--file-blur-gif));
    transition: .45s ease;
}
[class^='imageWrapper']:has([class^='originalLink']):hover {
    filter: blur(0px)
}