/**
* @author Madeline#3336
* @name Goof
* @description you shouldnt be here. go check out my other themes, this is where i fuck around
*/

/* spicetify code storage
:root {
    --spice-button: #b91d1d;
    --text-bright-accent: #b91d1d;
    --spice-button-active: #5f1010;
}
* {color: #b91d1d;}
.Svg-img-icon-small-textBrightAccent, .Svg-sc-ytk21e-0.Svg-img-icon-xsmall-textBrightAccent.main-yourLibraryX-listRowIcon {fill:#b91d1d;}
.Svg-sc-ytk21e-0.Svg-img-icon-small::after {fill:#b91d1d !important;}
*/