/**
* @name Purple Theme Library Version
* @author Madeline
* @description Makes discord a nice and cool purple. Enjoy!
* @version 1.3.3
* @tags Purple, Animated
*/
/* This changes "X" logo to the famous twitter we all know and love. Remove if you want. */
[aria-label="X"] {content: url(https://discord.com/assets/57a3fe2c0e62e98937fd.svg);}
[src="/assets/f47485602365c946fa52.svg"] {content: url(https://discord.com/assets/57a3fe2c0e62e98937fd.svg);}
/* End of X Logo Change */
.theme-dark {
    --text-normal: rgb(230, 210, 248);
    --text-link: rgb(161, 103, 214);
    --channels-default: rgb(190, 136, 240);
    --interactive-active: rgb(217, 185, 247);
    --channel-icon: rgb(128, 81, 172);
    --interactive-normal: #d7bdff;
    --mention-foreground: rgb(161, 103, 214);
    --mention-background: rgb(84, 54, 112);
    --background-accent: var(--background-secondary-alt);
    --background-mentioned-hover: rgb(61, 39, 82);
    --background-mentioned: rgb(63, 40, 85);
    --text-muted: rgb(128, 81, 172);
    --header-primary: rgb(128, 81, 172);
    --brand-experiment: var(--interactive-muted);
    --brand-experiment-560: rgb(88, 56, 151);
    --primary-300: rgb(128, 81, 172);
    --primary-100: rgb(138, 81, 172);
    --bg-overlay-2: rgb(53, 42, 78);
    --background-secondary: rgb(47, 37, 69); 
    --background-primary: rgb(53, 42, 78);
    --channeltextarea-background: rgb(60, 47, 88);
    --background-secondary-alt: rgb(38, 29, 54);
    --input-background: rgb(35, 28, 51);
    --background-tertiary: rgb(35, 28, 51);
    --scrollbar-auto-track: rgb(47, 37, 69);
    --scrollbar-auto-thumb: rgb(35, 28, 51);
    --button-secondary-background: rgb(35, 28, 51);
    --button-secondary-background-hover: rgb(55, 48, 71);
    --primary-630: rgb(35, 28, 51);
    --primary-600: rgb(27, 21, 39);
    --interactive-muted: rgb(109, 70, 187);
    --background-modifier-selected: rgba(41, 28, 59, 0.527);
    --status-danger: rgb(109, 70, 187);
    --background-floating: rgb(30, 19, 43);
    --guild-boosting-blue: rebeccapurple;
    --guild-boosting-purple: violet;
    --red-500: rgb(107, 69, 183);
    --primary-800: rgb(27, 21, 39);
    --green-360: rgb(202, 146, 255);
    --primary-400: rgb(202, 146, 255);
    --yellow-300: rebeccapurple;
    --brand-500: var(--background-secondary-alt);
    --info-warning-background: rgb(59, 32, 87);
    --button-outline-danger-border: var(--interactive-muted);
    --button-outline-danger-background-hover: var(--interactive-muted);
    --button-outline-danger-border-hover: var(--interactive-muted);
    --button-danger-background: var(--interactive-muted);
    --mention-color-1: var(--interactive-active) !important;
    --animation-color-start-end: rgba(217, 185, 247, 0.255) !important;
    --animation-color-middle: rgba(217, 185, 247, 0.500) !important;
    --text-positive: var(--interactive-normal)
}


.vc-addon-card:hover {
    background-color: rgb(35, 28, 51);
}

.repliedTextPreview__1a8a4.clickable__09456 {
    color: rgb(230, 210, 248);
}

[class*="mentioned_"]::before {
    background-color: rgb(128, 81, 172);
}

.liveShapeRound__75159 {
    background-color: rgb(128, 81, 172) !important;
}

[class^='ready'] {
        filter: invert(35%) sepia(82%) saturate(626%) hue-rotate(232deg) brightness(84%) contrast(78%);
}

.scroller_de945b.none__7a473.scrollerBase_f742b2 {
    background-color: rgb(35, 28, 51);
}

.scroller__8f066.thin_b1c063.scrollerBase_f742b2 {
    background-color: rgb(35, 28, 51);
    border-radius: 5px !important;
}

.root_a28985.small_f8e677.fullscreenOnMobile__05784.rootWithShadow_d20cd6 {
    background-color: rgb(45, 38, 61);
}

.flex_f18b02.horizontalReverse__24739.justifyStart__6f8c8.alignStretch__2d62d.noWrap__5c413.footer_e0b400.footerSeparator__2af8d {
    background-color: rgb(34, 29, 46);
}

.flex_f18b02.horizontal__4848b.justifyStart__6f8c8.alignStretch__2d62d.noWrap__5c413.footer_e0b400.footer__7d6f5.footerSeparator__2af8d {
    background-color: rgb(34, 29, 46);
}

.paymentRow__7568c.bottomDivider_c85b47 {
    background-color: rgb(35, 28, 51);
}

.theme-dark .summaryInfo__3df8a:hover {
    background-color: rgb(27, 21, 39);
}

.hoverablePayment__4ff3b {
    transition: none;
}

.keyboardShortcutsModal__44538 {
    background-color: rgb(45, 38, 61) !important;
}

.key__6a8d9 {
    background: rgb(63, 41, 83);
}

.header__93ab0 {
    background: rgb(35, 28, 51) !important;
}

.scroller_ac6d1c {
    background: rgb(47, 37, 69) !important;
}

.userProfileInnerThemedNonPremium_ed9022>.userPopoutOverlayBackground_bf6444.overlayBackground__2666e {
    background-color: rgb(29, 22, 36)
}

.modeMuted_f0a72e .icon__67ab4, .modeMuted_f0a72e .name__4eb92 {
    color: hsla(289, 8%, 61%, 0.199);
}

.colorDefault_e361cf:active:not(.hideInteraction__0b569) {
    background-color: rgb(62, 44, 80);
}

.topic__16ae3.expandable__8804d {
    color: rgb(128, 81, 172);
}

.bar_edc096 {
    background: var(--background-secondary-alt);
}

.icon__96634 {
    color: rgb(141, 80, 202);
}

.barBase__8839d {
    background-color: rgb(82, 46, 117);
}

.mention_dd733a:active {
    background: rgb(62, 44, 80);
}

.shiki-root {
    background-color: rgb(50, 36, 65) !important;
}

.tooltip__7b090.tooltipRight__2c7a5.tooltipPrimary__51b23.tooltipDisablePointerEvents__2978d.listItemTooltip_e19493 {
    background: rgb(30, 19, 43);
}

.link_ddbb36:hover {
    background-color: rgb(36, 27, 53) !important;
}

.baseShapeRound_c1de89 {
    background: rgba(86, 62, 121, 0.952) !important;
}

.emptyChannelIcon_d45c50.emptyChannelIconSvg__7858d {
    background-color: rgba(86, 62, 121, 0.473);
}

  .iconServer__83dd8 {
    color: rgb(194, 50, 50) !important;
  }

.controlIcon_d1bbd7 {
    color: var(--interactive-normal);
}

.button_d4bf9b.dangerous__8fbad:hover {
    color: rgb(124, 43, 255);
}

.button_d4bf9b.dangerous__8fbad {
    color: rgb(215, 189, 255);
}

.popout__24e32 {
    background: rgb(36, 27, 53);
}

.theme-dark .tooltipPrimary__51b23 .tooltipPointer_f7411c, .theme-light .tooltipPrimary__51b23 .tooltipPointer_f7411c {
    border-top-color: rgb(30, 19, 43);
}

.option__91497:after {
    background: rgb(30, 19, 43);
}

.container__2e9cc {
    --text-normal: rgb(230, 210, 248);
    --background-primary: rgb(47, 37, 69);
    --text-muted: rgb(230, 210, 248);
    --header-primary: rgb(190, 136, 240);
    --header-secondary: rgb(190, 136, 240);
    --button-secondary-background: rgb(99, 61, 134);
}

/* Animations, remove the code below if you don't want animations. */


.container_f79ab4 {
    width: 60px;
    transition-duration: 0.8s;
    transition: ease 0.8s;
}
.container_f79ab4:hover {
    width: 250px;
}
  .cozy_f5c119.wrapper_a62503 {
      right: 0px;
      transition: ease 0.5s;
    }
    .cozy_f5c119.wrapper_a62503:hover {
        right: -10px;
  }
  .button__581d0 {
    scale: 1;
    transition: ease 0.5s;
}
  .button__581d0:hover {
      scale: 1.4;
    }
  .wrapper__9916c {
      scale: 1;
    transition: ease-in-out 0.3s;
}
.wrapper__9916c:hover {
    scale: 1.1;
    transform: rotateZ(-10deg);
  }
  [type="button"] {
    scale: 1;
    transition: ease-in-out 0.4s;
}
[type="button"]:hover {
    scale: 1.2;
    transform: rotateZ(-10deg);
}
.barButtonAlt_e800ef.barButtonBase__5e4cf {
    scale: 1;
    transition: none;
    transform: none
}
.searchBarComponent__8f95f:hover {
    scale: 1;
    transition: none !important;
    transform: none !important;
}
.giftButton_e9c7df.button__581d0.lookFilled__950dd.colorBrand__27d57.sizeIcon_aff037.grow__4c8a4 {
    transform: rotateZ(0deg);
    scale: 1;
}
.giftCardButton__09b12.button__581d0.lookOutlined__014b5.sizeMedium__60c12.grow__4c8a4 {
    transform: rotateZ(0deg);
    scale: 1;
}
.button__581d0.lookLink_a2da25 {
    scale: 1;
    transform: rotateZ(0deg);
}
    .button__88ad4.button__581d0.lookFilled__950dd.buttonColor_fd4fe8.buttonSize__9da96.grow__4c8a4:hover {
        scale: 1;
        transform: rotateZ(0deg);
    }
    .button__581d0.lookBlank_a5b4ca.colorTransparent__3e3c7.sizeIcon_aff037.grow__4c8a4 {
        transform: rotateZ(0deg);
        scale: 1;
    }
    .button__581d0.lookOutlined__014b5.colorRed__5a617.sizeSmall_da7d10.grow__4c8a4 {
        transform: rotateZ(0deg);
        scale: 1;
    }
    .fieldButton__1edf0.button__581d0.lookFilled__950dd.colorPrimary_ebe632.sizeSmall_da7d10.grow__4c8a4 {
        transform: rotateZ(0deg);
        scale: 1;
    }
    .fieldButton__1edf0.removeButton_dcb1e3.button__581d0.lookLink_a2da25.lowSaturationUnderline_a62e4d.colorPrimary_ebe632.sizeSmall_da7d10.grow__4c8a4 {
        transform: rotateZ(0deg);
        scale: 1;
    }
    .button__581d0.lookLink_a2da25.lowSaturationUnderline_a62e4d.colorLink__4141a.sizeMin__508da.grow__4c8a4 {
        transform: rotateZ(0deg);
        scale: 1;
    }
    .disableButton__09342.button__581d0.lookFilled__950dd.colorRed__5a617.sizeSmall_da7d10.grow__4c8a4 {
        transform: rotateZ(0deg);
        scale: 1;
    }
    .button__581d0.lookFilled__950dd.colorPrimary_ebe632.sizeMedium__60c12.grow__4c8a4 {
        transform: rotateZ(0deg);
        scale: 1;
    }
    .button__581d0.lookLink_a2da25.lowSaturationUnderline_a62e4d.colorTransparent__3e3c7.sizeMedium__60c12.grow__4c8a4 {
        transform: rotateZ(0deg);
        scale: 1;
    }
    .button__581d0.colorYellow__818c3 {
        scale: 1;
        transform: rotateZ(0deg);
    }
    .primaryButton__349a0.sizeXlarge__6885c {
        scale: 1;
        transform: rotateZ(0deg);
    }
    .secondaryButton__11400.sizeXlarge__6885c {
        scale: 1;
        transform: rotateZ(0deg);
    }
    .button__08b28.button__581d0.lookInverted_a299dc.colorBrand__27d57.sizeSmall_da7d10.grow__4c8a4 {
        scale: 1;
        transform: rotateZ(0deg);
    }
    .toolsButton__06f1e.button__581d0.lookLink_a2da25.lowSaturationUnderline_a62e4d.colorWhite__0033e.sizeSmall_da7d10.grow__4c8a4 {
        scale: 1;
        transform: rotateZ(0deg);
    }
    .tierCardButton_acba1d.button__581d0.lookFilled__950dd.colorWhite__0033e.sizeMedium__60c12.grow__4c8a4 {
        scale: 1;
        transform: rotateZ(0deg);
    }
    .managePlanButton__8b928.button__581d0.lookOutlined__014b5.colorWhite__0033e.sizeMedium__60c12.grow__4c8a4 {
        transform: rotateZ(0deg);
        scale: 1
    }
    .giftCardButton__92b89.seasonalColor_ecb175.button__581d0.lookOutlined__014b5.sizeMedium__60c12.grow__4c8a4 {
        transform: rotateZ(0deg);
        scale: 1;
    }
    .button__581d0.lookFilled__950dd.colorBrand__27d57.sizeMedium__60c12.grow__4c8a4 {
        transform: rotateZ(0deg);
        scale: 1;
    }
    .button__581d0.lookOutlined__014b5.colorBrand__27d57.sizeMedium__60c12.grow__4c8a4 {
        transform: rotateZ(0deg);
        scale: 1;
    }
    .removeButton__70891.button__581d0.lookLink_a2da25.lowSaturationUnderline_a62e4d.colorPrimary_ebe632.sizeSmall_da7d10.grow__4c8a4 {
        transform: rotateZ(0deg);
        scale: 1;
    }
    .button__581d0.lookLink_a2da25.lowSaturationUnderline_a62e4d.colorPrimary_ebe632.sizeSmall_da7d10.grow__4c8a4 {
        transform: rotateZ(0deg);
        scale: 1;
    }
    .vc-m-left-16.button__581d0.lookFilled__950dd.colorPrimary_ebe632.sizeXlarge__6885c.grow__4c8a4 {
        transform: rotateZ(0deg);
        scale: 1;
    }
    .button__4d0db.button__581d0.lookFilled__950dd.buttonColor__8c13f.sizeSmall_da7d10.fullWidth_fdb23d.grow__4c8a4 {
        transform: rotateZ(0deg);
        scale: 1;
    }
    .ctaButton__0d23d.button__581d0.lookInverted_a299dc.colorBrand__27d57.sizeMedium__60c12.grow__4c8a4 {
        transform: rotateZ(0deg);
        scale: 1;
    }
    .button__581d0.colorRed__5a617 {
        transform: rotateZ(0deg);
        scale: 1;
    }
    .debugButton_c64efe.button__581d0.lookBlank_a5b4ca.colorBrand__27d57.sizeSmall_da7d10.grow__4c8a4 {
        transform: rotateZ(0deg);
        scale: 1;
    }
    .button__581d0.lookLink_a2da25.lowSaturationUnderline_a62e4d.colorBrand__27d57.sizeMedium__60c12.grow__4c8a4 {
        transform: rotateZ(0deg);
        scale: 1;
    }
    .viewChannelButton_d2fdbe.button__581d0.lookOutlined__014b5.colorPrimary_ebe632.sizeSmall_da7d10.grow__4c8a4 {
        transform: rotateZ(0deg);
        scale: 1;
    }
    .inviteRowButton__14750.button__581d0.lookFilled__950dd.colorGreen__75c93.sizeSmall_da7d10.grow__4c8a4 {
        transform: rotateZ(0deg) !important;
        scale: 1 !important;
    }
    .barButtonMain__984b4.barButtonBase__5e4cf {
        scale: 1;
        transform: rotateZ(0deg);
    }
    .button__581d0.lookFilled__950dd.colorBrand__27d57.sizeSmall_da7d10.grow__4c8a4 {
        scale: 1;
        transform: rotateZ(0deg);
    }
    .button__581d0.lookFilled__950dd.colorGreen__75c93.sizeSmall_da7d10.grow__4c8a4 {
        scale: 1;
        transform: rotateZ(0deg);
    }
    .micTestButton_b8ff4b.button__581d0.lookFilled__950dd.colorBrand__27d57.sizeSmall_da7d10 {
        transform: rotateZ(0deg);
        scale: 1;
    [data-text-variant="text-md/normal"] {color: var(--interactive-active) !important;}
    }
    .button__55d4b.button__581d0.lookFilled__950dd.colorPrimary_ebe632.sizeMedium__60c12 {
        scale: 1;
        transform: rotateZ(0deg);
    }
    .button__55d4b.button__581d0.lookOutlined__014b5.colorPrimary_ebe632.sizeMedium__60c12 {
        scale: 1;
        transform: rotateZ(0deg);
    }
    .button__55d4b.button__581d0.lookFilled__950dd, .button__581d0.lookOutlined__014b5.colorPrimary_ebe632.sizeMedium__60c12, .button__581d0.lookFilled__950dd.colorBrand__27d57.sizeMedium__60c12 {
        scale: 1;
        transform: rotateZ(0deg);
    }
    .component_d53fb7:hover {
        scale: 1;
        transform: rotateZ(0deg);
    }
    [aria-label="Select emoji"]:hover {
        scale: 1.1;
    }
    .lookFilled__950dd.colorBrand__27d57 {
        scale: 1;
        transform: rotateZ(0deg);
    }
    .button__581d0.closeButton__446ec {
        scale: 1;
        transform: rotateZ(0deg);
    }
    .tagsButton__34537.button__581d0.lookFilled__950dd.sizeMin__508da.grow__4c8a4 {
        scale: 1;
        transform: rotateZ(0deg);
    }
    .sortDropdown__40a16.button__581d0.lookFilled__950dd.sizeMin__508da.grow__4c8a4 {
        scale: 1;
        transform: rotateZ(0deg);
    }
    [id="gif-picker-tab"]:hover {
        scale: 1;
        transform: rotateZ(0deg);
    }
    [id="sticker-picker-tab"]:hover {
        scale: 1;
        transform: rotateZ(0deg);
    }
    [id="emoji-picker-tab"]:hover {
        scale: 1;
        transform: rotateZ(0deg);
    }
    .button__581d0.lookFilled__950dd.colorPrimary_ebe632.sizeIcon_aff037.grow__4c8a4 {
        scale: 1;
        transform: rotateZ(0deg);
    }
    .endButton__45c13.pageButton_bf9853 {
        scale: 1;
        transform: rotateZ(0deg);
    }
    .button__581d0.lookFilled__950dd.colorPrimary_ebe632.sizeSmall_da7d10.grow__4c8a4 {
        scale: 1;
        transform: rotateZ(0deg);
    }
    .videoButton__78017:hover, .volumeButton__47cae:hover {
        scale:1;
        transform: rotateZ(0deg);
    }
    .action__66c75.button__581d0 {
        scale: 1;
        transform: rotateZ(0deg);
    }
    .showMoreButton__686d7.button__581d0 {
        scale: 1;
        transform: rotateZ(0deg);
    } 
    .prevButtonContainer_c5bd70.arrowContainer_eb1184.navPrev__0cddd.nav__584bc.button__581d0.lookBlank_a5b4ca.colorBrand__27d57.grow__4c8a4, .nextButtonContainer_a702d1.arrowContainer_eb1184.navNext_c164a7.nav__584bc.button__581d0.lookBlank_a5b4ca.colorBrand__27d57.grow__4c8a4 {
        scale: 1;
        transform: rotateZ(0deg);
    }
    [aria-label="Add this post to your channel list and receive notifications about it."]:hover {
        scale:1;
        transform: rotateZ(0deg);
    }
    [aria-label="Copy Link"]:hover {
        scale:1;
        transform:rotateZ(0deg);
    }
    .close__1080c.button__581d0.lookBlank_a5b4ca.colorBrand__27d57.grow__4c8a4 {
        scale:1;
        transform:rotateZ(0deg);
    }
    .guildBoostCta__129de.guildBoostCtaSecondary_b56ac7 {
        scale:1;
        transform:rotateZ(0deg);
    } 
    .shinyButton_d5e126.guildBoostCtaBoost_ac9bf0   {
        scale:1;
        transform:rotateZ(0deg);
    }
    .giftCardButton__92b89.giftCardButtonColor__74ef6.button__581d0 {
        scale:1;
        transform:rotateZ(0deg)
    }
    .collapseBtn__49a85.button__581d0 {
        scale: 1;
        transform: rotateZ(0deg);
    }
    .vc-rdb-review:hover {
        right: 0px !important;
    }
    [href^="/channels"], .typeVoice__86122 {
        transition: ease 0.2s;
 }
 [href^="/channels"]:hover {
        margin-left: 5px;
 }
 .iconItem__56989:has(.actionIcon_b149a2) {
        display: none !important;
 }
 .typeVoice__86122:hover {
        margin-left: 15px;
 }
 .side_b4b3f6 .item__48dda {
     transition: ease 0.2s;
 }
 .side_b4b3f6 .item__48dda:hover {
     margin-left: 5px;
 }
 [aria-label="Members"] .member_aa4760 {
     transition: ease 0.2s;
 }
 [aria-label="Members"] .member_aa4760:hover {
     margin-left: 15px;
 }
    [aria-label^="Listen along with"]:hover {
        transform: rotateZ(0deg);
        scale: 1;
    }
    .button__88ad4.buttonSize__9da96 {
        transform: rotateZ(0deg);
        scale:1;
    }
    .button__344e7.button__581d0.lookOutlined__014b5.colorWhite__0033e.grow__4c8a4 {
        transform: rotateZ(0deg);
        scale:1;
    }
    .vc-uvs-button:hover {
        transform: rotateZ(0deg);
        scale: 1;
    }
    .notice_a687ab .button__6c73a {
        scale:1;
        transform: rotateZ(0deg);
    }
    .seeAllPerksButton_bfef1d:hover {
        scale:1;
        transform: rotateZ(0deg);
    }
    .vc-rdb-button-grid .button__581d0 {
        scale: 1;
        transform: rotateZ(0deg) !important;
    }
    .returnButton__12be7:hover {
        scale: 1;
        transform: rotateZ(0deg);
    }
    .button__581d0.colorBrandNew__8872c {
        scale:1;
        transform: rotateZ(0deg);
    }
    .mediaMosaicAltTextContainer_bddbaf {
        transform: rotateZ(0deg);
    }
    .members__9ec04 [type='button'], .role__96a30 {
        transform: none;
        scale: 1
    }
    .giftButtonContainer__68103 [type='button'] {
        transform: none;
        scale: 1
    }
    .button__581d0.lookOutlined__014b5.colorTransparent__3e3c7.sizeMedium__60c12.fullWidth_fdb23d.grow__4c8a4 {
        transform: none !important;
        scale: 1 !important;
    }
    .returnButton__38238 {
        transform: none !important;
        scale: 1 !important;
    }
    .followButton_eb1ca8:hover {
        transform: none;
        scale: 1;
    }
    [class^='purchaseButton']:hover, [class^="giftButton"]:hover {
        transform: none;
        scale: inherit;
    }
    [class^='standardSidebarView'] button:hover {
        transform: inherit;
        scale: inherit;
    }
    [class^='userProfileModalOuter'] button:hover {
        transform: inherit;
        scale: inherit;
    }
    [aria-label='Servers'] [class^='listItem'] {
        transition: ease .3s;
    }
    [aria-label='Servers'] [class^='listItem']:hover {
        transform: rotateZ(-10deg);
        scale: 1.2;
    }
    [class^='sidebar'] [class^='container'] button:hover {
        scale: inherit;
        transform: inherit;
    }
    [class^='directoryContainer'] button:hover {
        transform: inherit;
        scale: inherit;
    }
    [class^='chat'] [class^='header'] button:hover {
        scale: inherit;
        transform: inherit;
    }
    [class^='browser'] button:hover {
        scale: inherit;
        transform: inherit;
    }
    [class^='messagesWrapper'] button:hover {
        transform: inherit;
        scale: inherit;
    }
    [class^='popout'] button:hover {
        scale: inherit;
        transform: inherit;
    }
    [class^='layer'] [class^='focusLock'] button:hover {
        scale: inherit;
        transform: inherit;
    }
    [class*='userPopout'] button:hover {
        scale: inherit;
        transform: inherit;
    }
    [class^='sidebarContent'] button:hover {
        transform: inherit;
        scale: inherit;
    }
    [class^='applicationStore'] button:hover {
        scale: inherit;
        transform: inherit;
    }
    [class^='shc-lock'] button:hover {
        scale: inherit;
        transform: inherit;
    }
    /* END OF ANIMATION CODE, DON'T DELETE ANYTHING BELOW UNLESS TOLD*/
    
    [class^='applicationStore'] h2 {
        color: var(--text-normal) !important;
    }
    [class^='text-lg/normal'] {
        color: var(--text-normal) !important;
    }
    [class^='applicationStore'] [class^='display-lg'] {
        -webkit-text-stroke: rgb(112, 105, 117) 1px;
    }
    [class='vc-error-card'] h2 {
        color: var(--text-normal);
    }
    .content_a7d72e .chat_a7d72e {
        background-color: var(--background-primary);
    }
    [class^='profileCard'] {
        background-color: var(--background-secondary);
    }
    .description__7d5ad {
        background: rgb(50, 36, 65);
    }
    
    .invalidPoop__9bdd8.invalidPoopHorizontal_bb9f32 {
        background-color: rgba(50, 36, 65, 0.74);
    }
    .header_f1fd9c, .container_f1fd9c {
        background-color: var(--background-primary) !important;
    }
    [class^='tabBar']:after {
        fill: red !important;
    }
.contentWrapper_e0bb2c {
    --background-accent: rgb(35, 28, 51);
}

.panelTitleContainer__8e644>.text-sm-normal__95a78 {
  color: #e6d2f8cc;
  text-shadow: 0 0 4px #e6d2f8cc, 0 0 4px #e6d2f8cc;
  border-radius: 9px;
} /* credits to bellecadavre (discord) for this code */
/* following code changes the DM icon, remove if you dont want it */
[class^='tutorialContainer'] svg [class^="wrapper"] > [class^="childWrapper"] img,
[class^='tutorialContainer'] svg [class^="wrapper"] > [class^="childWrapper"] svg {
	display: none;
}
[class^='tutorialContainer'] svg [class^="wrapper"] > [class^="childWrapper"]::after {
    content: ' ';
	display: block;
	position: relative;
    transform: translateY(1.5px);
    left: 1.5px;
    top: -3px;
	width: 55px;
	height: 55px;
	line-height: px;
    opacity: 0.2;
	transition: all 0.2s linear;
	background: url('https://files.catbox.moe/2qa3qr.png') center / contain no-repeat;
}
[class^='tutorialContainer'] svg [class^="wrapper"]  > [class^="childWrapper"]:hover::after {
    opacity: 1;
}
/*end of dm icon change code, dont delete anything below this unless told*/
[fill="#f0b232"]
{
    fill: rgb(202, 146, 255);
}
[fill="#23a55a"] {
    fill: rgb(202, 146, 255);
}
[fill="#f23f43"] {
    fill: rgb(202, 146, 255);
}
[fill="#593695"] {
    fill: rgb(202, 146, 255);
}
.emptyIconFriends_b554b1 {
    filter: sepia(100%) hue-rotate(-140deg)
}
.emptyIconGuilds_f8aeb2 {
    filter: sepia(100%) hue-rotate(-140deg)
}
.header__71942 {background-color: rgb(49, 39, 71) !important;}
.container__03ec9 {background-color: rgb(49, 39, 71) !important;}
.scroller__6ea8b {background-color: var(--background-secondary) !important;}
.wrapper__91b2c.categoryHeader__70c8e {background-color: #2f2545;}
.wrapper__35c78 {background-color: #2f2545;}
.button__581d0.lookFilled__950dd.colorBrand__27d57.sizeMin__508da.grow__4c8a4 {background-color: #4e3f6e;}
.button__581d0.lookFilled__950dd.colorBrand__27d57.sizeMin__508da.grow__4c8a4:hover {background-color: var(--brand-experiment);}
.pageBody_c0e5dd {background-color: var(--background-secondary);}
[fill="#80848e"] {
    fill: rgba(202, 146, 255, 0.5);
}
.placeholder__99206 {
    background: hsla(268, 38%, 36%, 0.288) !important;
}
.button__581d0.lookFilled__950dd.colorGreen__75c93.sizeSmall_da7d10.grow__4c8a4 {background-color: rgb(129, 90, 192);}
.repliedTextPreview__1a8a4.clickable__09456:hover {color: var(--interactive-normal);}
.divider__01aed.hasContent__1fe13.divider__855e3.hasContent_c79a1f {
    background-color: rgb(78, 44, 97);
}
.button__581d0.lookFilled__950dd.colorBrand__27d57.sizeMin__508da.grow__4c8a4 {
    transform: rotateZ(0deg);
    scale: 1;
}
.button__581d0.lookFilled__950dd.colorBrandNew__8872c.sizeMedium__60c12.grow__4c8a4 {
    transform: rotateZ(0deg);
    scale: 1;
    background-color: var(--interactive-muted);
}
[d^="M23 12a11 11 0 1 1-22 0 11 11 0 0 1 22 0ZM7.74 9.3A2 2 0 0 1 9."] {fill: var(--channels-default);}
[d="M12 14a2 2 0 1 0 0-4 2 2 0 0 0 0 4Z"] {fill: var(--channels-default);}
[d="M13 5a1 1 0 1 0-2 0v6H5a1 1 0 1 0 0 2h6v6a1 1 0 1 0 2 0v-6h6a1 1 0 1 0 0-2h-6V5Z"] {
    fill: var(--channels-default);
}
.circleIconButton__05cf2.selected_aded59 {
    background: var(--interactive-muted);
}
.emptyChannelIcon_d45c50.emptyChannelIconComponent__785fc {
    background: var(--scrollbar-auto-track);
}
.messagelogger-deleted {
    background-color: #482655 !important;
}
.messagelogger-edited {
    filter: opacity !important;
}
.disableButton__09342.button__581d0.lookFilled__950dd.colorRed__5a617.sizeSmall_da7d10.grow__4c8a4:hover {
    background-color: var(--brand-experiment-560);
}
.defaultThemeSelection_f6b081.lightIcon_b11aec {
    display: none;
}
.basicThemeSelectors__5ca8c {
    margin-left: -84px;
}
[aria-label="Sync with computer"] {display: none;}
[aria-label="Dark"] {
    background-color: #352a4e;
}
.header__35d14, .lightOverlay_fe4bff, .darkOverlay__11dff {display: none;}
.themeTitle_ab0542 {visibility: hidden;}
.themeTitle_ab0542:before {content: "I had to eat the other themes since they don't work with this one. They were yummy though! -Madeline"; visibility: visible; color: var(--header-primary);}
.presets__4073b {top: 378px; left: 64px; gap: 0px;position: absolute;}
.divider__14bb6.marginTop20__7e0ad {padding-top: 44px; visibility: hidden;}
.cover__590cf {filter: opacity(0%);}
.customButton__5f828 {background-color: #2f2545; cursor: pointer;}
.heading-xxl-extrabold__3d05f.defaultColor__8610e.heading__8054f, .text-lg-normal__10298.subtitle__3ed46.fullWidth_f7fae7.leftAlignSubtitle_a674b6, .defaultColor__77578.heading-xxl-extrabold__3d05f.defaultColor__8610e.perksTitle_a74cc3 {
    color: var(--interactive-active) !important; text-shadow: 0 0 4px var(--interactive-muted);
}
.defaultColor__77578.heading-md-semibold__76ba1.defaultColor__8610e.title__84e16, .topic__16ae3.expandable__8804d {
    color: var(--interactive-active) !important;
}
.icon_ae0b42 {
    color: var(--interactive-active) !important;
}
.defaultColor__77578.heading-lg-semibold__58a54.defaultColor__8610e {
    color: var(--interactive-normal);
}
.lineClamp1__92431.text-md-semibold__8664f.name_e8e549 {
    color: var(--interactive-active);
}
.container_b92032 {
    background-color: #312747;
}
.matchingPostsRow__6cdb0 {
    background-color: var(--background-primary);
}
[d^="M12 23a11 11 0 1 0 0-22 11 11 0 0 0 0 22Zm1.44-15.94L13.06 14a1.06"] {
    fill: var(--interactive-normal);
}
.display-lg__20734.defaultColor__8610e {
    color: var(--interactive-active) !important; text-shadow: 0 0 4px rebeccapurple;
}
.defaultColor__77578.heading-xl-extrabold__8ed5c.defaultColor__8610e.cardHeading__5a3f0, .defaultColor__77578.heading-lg-extrabold__2f0a8.defaultColor__8610e.perkCardHeading_e79d9b, .defaultColor__77578.heading-lg-extrabold__2f0a8.defaultColor__8610e.heading__118ef {
    color: var(--interactive-active); text-shadow: 0 0 4px rebeccapurple;
}
[type="button"] {
    border-radius: 20px;
}
.button_f03392.button__581d0.lookFilled__950dd.colorBrand__27d57.sizeMedium__60c12.grow__4c8a4 {
    background-color: #533097;
}
.button__581d0.lookFilled__950dd.colorBrand__27d57.sizeMin__508da.grow__4c8a4 {border-radius: 4px;}
::selection {background: rgba(153, 0, 255, 0.075); color: var(--interactive-muted);}
.role_d81130 {border-radius:20px;}
.vc-notification-root {border-radius:20px;}
.vc-text-selectable.root_a28985.medium_b9df4c.fullscreenOnMobile__05784.rootWithShadow_d20cd6 {border-radius: 20px;}
.flex_f18b02.horizontalReverse__24739.justifyStart__6f8c8.alignStretch__2d62d.noWrap__5c413.footer_e0b400.footerSeparator__2af8d {border-radius: 0 0 20px 20px;}
.markup_a7e664 h1, .markup_a7e664 h2, .markup_a7e664 h3, .markup_a7e664 h4, .markup_a7e664 h5, .markup_a7e664 h6 {
    color: var(--text-normal);
}
.homeContainer_c36871 {
    background-color: #312747;
}
[id="user-settings-cog-Appearance--light"] {display: none !important;}
[d^="M22.7 2.7a1 1 0 0 0-1.4-1.4l-20 20a1 1 0 1 0 1.4 1.4Z"] {fill: rgb(199, 68, 68);}
[d^="M3.06 20.4q-1.53 0-2.37-1.065T.06 16.74l1.26-9q.27-1.8 1.605-2.97T6.06 3.6h11.88q1.8 0 3.135 1"] {fill: var(--interactive-normal);}
.strikethrough__7b742 {fill: rgb(199, 68, 68);}
.hasBuildOverride__82784.circleBadge__548de.baseShapeRound_c1de89 {
    background-color: rgb(199, 68, 68) !important;
}
[d="m21.178 1.70703 1.414 1.414L4.12103 21.593l-1.414-1.415L21.178 1.70703Z"] {
    fill: rgb(199, 68, 68);
}
.iconBadge__20a6b {
    background-color: rgb(199, 68, 68);
}
.controlIcon__73723 {
    color: var(--interactive-normal);
    opacity: .6;
}
.controlIcon__73723:hover {
    opacity: 1;
    color: var(--interactive-normal);
}
.colorBrand__9bb0f {color: var(--interactive-normal);filter: brightness(120%);}
.card__67edb.boosterRecognitionCard_fc16be {background-color: rgba(53, 42, 78, 0.87);}
.toast_f06316 .text-md-normal__6e567 {color: var(--interactive-active) !important;}
.ownerIcon_bd8e7d.icon__07c5b {color: var(--interactive-active) !important;}
.buildOverrideButton__955ee circle{fill:rgb(199, 68, 68);}
[d^="m2.7 22.7 20-20a1 1 0 0 0-1.4-1.4l-20 20a1 1 0 1 0 1."] {fill: rgb(172, 112, 233);}
[d^="M22.7 2.7a1 1 0 0 0-1.4-1.4l-20 20a1 1 0 1 0 1.4 1.4l20-20ZM17.06 2.94a.48.48 0 0 0-.11-.77A11 11 0 0 0 2.18 16.94c.14.3.53.35.76.12l"] {
    fill:rgb(172, 112, 233);
}
.spoilerContent__383f3.spoilerMarkdownContent__5c448 [aria-hidden="true"] {
    background: #241b35;
    border-radius: 3px
}
.queryContainer_c1cb2f.focused__68b93 {
    background-color: var(--interactive);
}
.body_f9b7dd {
    background-color: var(--background-secondary);
}
.errorPage_a41002 .image_e0cb48 {
    filter: sepia(100%) hue-rotate(-140deg);
}
[fill="#2dc771"] {
    fill: var(--interactive-normal);
}
.page_e5cc79 {
    background-color: var(--background-secondary) !important
}
.innerContainer__7b4c0 {
    background-color: var(--background-primary) !important;
}
.topRow_b0479e, .bottomRow__7d44b, .bottomRowAction_b95fd7, .container__532be, .container__532be .header_aacd9b {
    background-color: var(--background-secondary) !important;
}
[d="M13 432L590 48"] {
    stroke: #c74444;
}
[class^='homeContainer'] {
    background-color: var(--background-secondary)
}