/**
* @author madelinemaid
* @description get shiggy with it
*/

img {content: var(--shiggy);}
button {content: var(--shiggy);}
video {content: var(--shiggy);}


:root {
    --shiggy: url(https://cdn.discordapp.com/emojis/1024751291504791654.gif?size=128&quality=lossless) !important;
}