/**
* @author madelinemaid
* @description get shiggy with it
*/

img {content: var(--shiggy) !important;}
button {content: var(--shiggy)  !important;}
video {content: var(--shiggy) !important;}


:root {
    --shiggy: url(https://cdn.discordapp.com/emojis/1024751291504791654.gif?size=128&quality=lossless) !important;
}

