[class*='main-cardImage'] {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0) !important;
    -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0) !important;
  }
  body {
    --spice-tab-active: rgba(0, 0, 0, 0);
    --spice-card: transparent;
  }
  img {
    filter: saturate(20%);
    border-radius: 100%;
  }
  [class='main-nowPlayingWidget-coverArt'] {
    background-color: rgb(0 0 0) !important;
  }
  .view-homeShortcutsGrid-imageWrapper {
    background: transparent !important;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0) !important;
  }
  [class*='main-home-homeHeader'], .main-topBar-background {
    background-color: transparent !important;
  }
  [aria-label='Now playing view'] {
    overflow: initial !important;
  }
  .cover-art {
    background: transparent;
    box-shadow: 0 0 0 rgb(0 0 0) !important;
  }