/**
* @author madelinemaid
* @name Square Avatars
* @description Makes avatars square.
*/
.avatar__08316 {border-radius: 10%;}
.wrapper_edb6e0 img {border-radius: 10% !important;position: absolute;}
.avatarDecoration_ae35e3 {border-radius: 0%;}
.svg__7900e.avatarHint__8e5b9 {visibility: hidden;}
.svg__7900e.avatarDecorationHint__03e0b {border-radius: 0%;}
.replyAvatar_cea07c.clickable_d866f1 {border-radius: 15%}
.avatarDecoration__14b3c {border-radius: 0%}
div [role="img"] > svg > foreignObject {
    mask: none !important;
    -webkit-mask: none !important;
}
div .wrapper_edb6e0 svg rect {
    mask: none !important;
    -webkit-mask: none !important;
    x:33
}
.avatarHoverTarget__3a360 .wrapper_edb6e0 svg rect {
    mask-image: url(#svg-mask-status-online) !important;
    x:75;
    y:73;
}
.avatarHoverTarget__3a360 .wrapper_edb6e0 svg circle {
    cx:83;
    r:11;
    cy:81
}