/**
* @name Suspicous Account Warning
* @author madelinemaid
* @description Changes the default avatar to a warning sign, for suspicous accounts.
*/
.avatar__08316[src="/assets/5d6a5e9d7d77ac29116e.png"] {
    content: url(https://cdn.discordapp.com/emojis/988408180482641952.webp?size=96&quality=lossless);
}

.avatar__991e2[src="/assets/5d6a5e9d7d77ac29116e.png"] {
    content: url(https://cdn.discordapp.com/emojis/988408180482641952.webp?size=96&quality=lossless);
}
[src="https://discord.com/assets/5d6a5e9d7d77ac29116e.png?size=1024&format=webp&quality=lossless&width=0&height=256"] {
    content: url(https://cdn.discordapp.com/emojis/988408180482641952.webp?size=96&quality=lossless);
}