/**
* @author madelinemaid
* @name Titlebar Name Replacement
* @description ONLY WORKS ON 1920X1080 BCUZ IM STUPID; Replaces Discord to Vencord. Use https://www.fontbolt.com/font/discord-logo-font/ with the color rgb(148, 155, 164) to make your own.
*/ 
[class^='wordmark'] svg {
    visibility: hidden;
}
[class^='wordmark']:after {
    content: url(https://files.catbox.moe/f2wdlj.png);
    position: absolute;
    scale: 0.1;
    top: -28.7px;
    left: -233px
}