/**
* @author Madeline
* @description this is just the unread bar i use
* @name personal unread bar madeline
*/
.text-xs-semibold_a3a2b4.barText__1a44f {font-size: 0px;}
.text-xs-semibold_a3a2b4.barText__1a44f:before {font-size:12px; content: /*CHANGE TO WHATEVER*/ "new shit!"; position: absolute; top: 4px;}
.bar__004d9 {width: 4.9em;} /* adjust if needed for bar width, incase the text goes off the bar*/